{{#extend "layout"}}
  {{#replace "bodyId"}}landing-page{{/replace}}
  {{#replace "main"}}

    <section id="intro">
      <div>
        <h1>D3.js Data Visualisation</h1>
      </div>
    </section>

  {{/replace}}
{{/extend}}
