// VARIABLES
$font-stack: "Space Mono", "monospace", "OpenSans", "Arial", "Helvetica", sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 800;
$main-color: #000;
$secondary-color: #000;
$paragraph-color: #000;
